Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

adding the start of map data
  server/cmd/maps/root.go
  server/cmd/root.go
  server/vttrpg/uvtt/doc.go
  server/vttrpg/uvtt/mapdata.go
  server/vttrpg/uvtt/open.go
Labels: server

adding test data
  .gitattributes
  tests/test-data/maps/test-map.dungeondraft_map
Labels: integration-tests

adding import command
  server/cmd/maps/import.go
Labels: server

adding initial managers
  server/mechanus/scenes/manager.go
  server/mechanus/screens/manager.go
Labels: server

adding basic proto for sdui
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/screen_actions_pb.ts
  client/src/proto/screens/v1/screens_connect.ts
  client/src/proto/screens/v1/screens_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  server/pkg/grpc/gen/screens/v1/scene_actions.pb.go
  server/pkg/grpc/gen/screens/v1/screen_actions.pb.go
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  server/pkg/grpc/gen/screens/v1/screensv1connect/screens.connect.go
  server/pkg/grpc/gen/screens/v1/splash_screen.pb.go
  shared/proto/screens/v1/scene_actions.proto
  shared/proto/screens/v1/screens.proto
  shared/proto/screens/v1/splash_screen.proto
Labels: client, server

Update release-drafter.yml
  .github/release-drafter.yml
Labels: CI/CD

Update release-drafter.yml (#141)
  .github/release-drafter.yml
Labels: CI/CD

docs: sketching my thoughs
  server/docs/responsbillity-flow.svg
  server/docs/screens/scene-to-screen.md
  server/docs/screens/screen-scene-users.svg
Labels: server, documentation

reording roles so admin is not the default
  client/src/proto/screens/v1/screens_pb.ts
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  shared/proto/screens/v1/screens.proto
Labels: client, server

feat: adding scene, screen managers with auth
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/internal/grpc/router.go
  server/mechanus/scenes/manager.go
  server/mechanus/screens/id.go
  server/mechanus/screens/id_test.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/screens_suite_test.go
  server/pkg/authenication/context.go
  server/pkg/authenication/roles/service.go
  server/pkg/grpc/gen/screens/v1/screen_actions.pb.go
  server/pkg/grpc/interceptors/jwt_context.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
  server/pkg/grpc/rpcs/rpcs_users/users.go
Labels: server

fixing linting issues with proto
  client/src/proto/screens/v1/screens_pb.ts
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  shared/proto/screens/v1/screens.proto
Labels: client, server

refactor: reworking roles
  buf.gen.yaml
  server/.gitignore
  server/makefile
  server/mechanus/screens/id.go
  server/mechanus/screens/id_test.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/manager.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
Labels: server

fixing linting issues with proto
  client/src/proto/screens/v1/screens_pb.ts
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  shared/proto/screens/v1/screens.proto
Labels: client, server

auto: generate proto
  client/src/proto/screens/v1/state_pb.ts
  server/pkg/grpc/gen/screens/v1/state.pb.go
  shared/proto/screens/v1/scene_actions.proto
  shared/proto/screens/v1/screens.proto
  shared/proto/screens/v1/splash_screen.proto
  shared/proto/screens/v1/state.proto
Labels: client, server

docs: sketching my thoughs
  server/docs/responsbillity-flow.svg
  server/docs/screens/scene-to-screen.md
  server/docs/screens/screen-scene-users.svg
Labels: server, documentation

fixing tests
  server/pkg/extensions/slices/filter_test.go
  server/pkg/extensions/slices/map_test.go
Labels: server

adding import command
  server/cmd/maps/import.go
Labels: server

adding test data
  .gitattributes
  tests/test-data/maps/test-map.dungeondraft_map
Labels: integration-tests

feat: adding scene, screen managers with auth
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/internal/grpc/router.go
  server/mechanus/scenes/manager.go
  server/mechanus/screens/id.go
  server/mechanus/screens/id_test.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/screens_suite_test.go
  server/pkg/authenication/context.go
  server/pkg/authenication/roles/service.go
  server/pkg/grpc/gen/screens/v1/screen_actions.pb.go
  server/pkg/grpc/interceptors/jwt_context.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
  server/pkg/grpc/rpcs/rpcs_users/users.go
Labels: server

feat: adding filter and map + tests
  server/pkg/extensions/slices/filter.go
  server/pkg/extensions/slices/filter_test.go
  server/pkg/extensions/slices/map_test.go
Labels: server

adding basic proto for sdui
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/screen_actions_pb.ts
  client/src/proto/screens/v1/screens_connect.ts
  client/src/proto/screens/v1/screens_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  server/pkg/grpc/gen/screens/v1/scene_actions.pb.go
  server/pkg/grpc/gen/screens/v1/screen_actions.pb.go
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  server/pkg/grpc/gen/screens/v1/screensv1connect/screens.connect.go
  server/pkg/grpc/gen/screens/v1/splash_screen.pb.go
  shared/proto/screens/v1/scene_actions.proto
  shared/proto/screens/v1/screens.proto
  shared/proto/screens/v1/splash_screen.proto
Labels: client, server

feat: adding buf lint
  makefile
Labels: none

reording roles so admin is not the default
  client/src/proto/screens/v1/screens_pb.ts
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  shared/proto/screens/v1/screens.proto
Labels: client, server

fix: changing string check for the linter
  server/pkg/extensions/slices/filter_test.go
Labels: server

fix: fixing test
  server/pkg/extensions/slices/filter_test.go
Labels: server

adding initial managers
  server/mechanus/scenes/manager.go
  server/mechanus/screens/manager.go
Labels: server

fix: solving G304 of gosec linter
  server/mechanus/screens/state/storage.go
Labels: server

todo: adding todo note
  server/cmd/maps/import.go
Labels: server

adding the start of map data
  server/cmd/maps/root.go
  server/cmd/root.go
  server/vttrpg/uvtt/doc.go
  server/vttrpg/uvtt/mapdata.go
  server/vttrpg/uvtt/open.go
Labels: server

refactor: reworking roles
  buf.gen.yaml
  server/.gitignore
  server/makefile
  server/mechanus/screens/id.go
  server/mechanus/screens/id_test.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/manager.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
Labels: server

feat: adding screen state
  server/mechanus/screens/state/asset.go
  server/mechanus/screens/state/entity.go
  server/mechanus/screens/state/environment.go
  server/mechanus/screens/state/grid.go
  server/mechanus/screens/state/layer.go
  server/mechanus/screens/state/screen.go
  server/mechanus/screens/state/splash-screen.go
  server/pkg/math/vectors/2d.go
Labels: server

chore: cleaning, documentating and linter fixes
  .gitignore
  server/docs/responsbillity-flow.svg
  server/docs/screens/screen-scene-users.svg
  server/mechanus/screens/listeners.go
  server/mechanus/screens/state/storage.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
Labels: server, documentation

feat: adding must package
  server/pkg/utility/must/must.go
  server/pkg/utility/must/must_suite_test.go
  server/pkg/utility/must/must_test.go
Labels: server

auto: regenerated
  server/docs/settings.md
Labels: server, documentation

feat: adding screen state storagE
  server/mechanus/screens/id.go
  server/mechanus/screens/id_test.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/state/metadata.go
  server/mechanus/screens/state/storage.go
Labels: server

feat: adding more role tests
  server/pkg/authenication/roles/role.go
  server/pkg/authenication/roles/role_test.go
  server/pkg/authenication/roles/roles_suite_test.go
  server/pkg/authenication/roles/service.go
  server/pkg/authenication/roles/service_test.go
Labels: server

feat: adding skip for playwright browsers
  Dockerfile
Labels: none

fix: IsAuthenicatedWithRole check is fixed on specific role
  .vscode/mechanus.code-workspace
  go.work.sum
  server/.gitignore
  server/pkg/authenication/authenication_suite_test.go
  server/pkg/authenication/context.go
  server/pkg/authenication/context_test.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_users/users.go
  tests/playwright.config.ts
Labels: server, integration-tests, dependencies

fix: err != nil should == nil because no error is valid, instead of otherwise
  server/pkg/grpc/interceptors/jwt_middleware.go
Labels: server

chore(lint): fixing variable naming being the same as the package
  server/pkg/authenication/jwt_claims.go
Labels: server

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
