Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

feat: adding authenication tests
  server/pkg/authenication/jti_service.go
  server/pkg/authenication/jwt_service.go
  server/tests/component-test/pkg/authenication/authenication_suite_test.go
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
  server/tests/component-test/util/users.go
Labels: server

fixing labeler
  .github/workflows/auto-label-pr.yml
Labels: CI/CD

fixing labeler
  .github/workflows/auto-label-pr.yml
Labels: CI/CD

fix: linting issues
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
  server/tests/component-test/util/users.go
Labels: server

feat: adding authenication tests (#118)
  .github/workflows/auto-label-pr.yml
  server/pkg/authenication/jti_service.go
  server/pkg/authenication/jwt_service.go
  server/tests/component-test/pkg/authenication/authenication_suite_test.go
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
  server/tests/component-test/util/users.go
Labels: server, CI/CD
