Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

Update server/scripts/documentation/settings.go
  server/scripts/documentation/settings.go
Labels: server

fix(server): replace string concatenation loop with strings.Repeat (#216)
  server/scripts/documentation/settings.go
Labels: server

Add testable Go examples for utility packages (#228)
  go.work.sum
  server/pkg/extensions/bools/examples_test.go
  server/pkg/extensions/ptr/examples_test.go
  server/pkg/extensions/xcrypto/examples_test.go
  server/pkg/extensions/xrand/examples_test.go
  server/pkg/extensions/xslices/examples_test.go
  server/pkg/extensions/xstrings/examples_test.go
  server/pkg/extensions/xurl/examples_test.go
  server/pkg/must/examples_test.go
Labels: server, dependencies

Update checks.yaml
  .github/workflows/checks.yaml
Labels: CI/CD

Update checks.yaml (#232)
  .github/workflows/checks.yaml
Labels: CI/CD

Add OpenTelemetry tracing infrastructure (#229)
  README.md
  docs/README.md
  docs/configuration/opentelemetry.md
  go.work.sum
  server/cmd/server.go
  server/components/build.go
  server/components/servers.go
  server/go.mod
  server/go.sum
  server/infrastructure/tracing/config.go
  server/infrastructure/tracing/config_test.go
  server/infrastructure/tracing/manager.go
  server/infrastructure/tracing/manager_test.go
  server/infrastructure/tracing/setup.go
  server/infrastructure/tracing/setup_test.go
  server/infrastructure/tracing/tracing_suite_test.go
  server/infrastructure/transport/grpc/router.go
  server/infrastructure/transport/grpc/server.go
  server/infrastructure/transport/http/otel.go
  server/infrastructure/transport/http/server.go
Labels: server, documentation, dependencies

Add function documentation to server/pkg/extensions (#238)
  server/pkg/extensions/bools/all.go
  server/pkg/extensions/ptr/to.go
  server/pkg/extensions/xcrypto/rsa.go
  server/pkg/extensions/xformat/marshalling.go
  server/pkg/extensions/xgorm/context.go
  server/pkg/extensions/xgorm/logger.go
  server/pkg/extensions/xio/constants.go
  server/pkg/extensions/xio/dir.go
  server/pkg/extensions/xos/file.go
  server/pkg/extensions/xrand/ids.go
  server/pkg/extensions/xslices/ids.go
  server/pkg/extensions/xslices/map.go
  server/pkg/extensions/xstrings/empty.go
  server/pkg/extensions/xsync/map.go
  server/pkg/extensions/xsync/slice.go
  server/pkg/extensions/xurl/localhost.go
Labels: server

Add docker-compose.yaml with watch for local development (#239)
  .env.example
  README.md
  docker-compose.yaml
  docs/development.md
Labels: documentation

refactor: moving proto files
  server/proto/campaigns/v1/campaign.pb.go
  server/proto/campaigns/v1/campaignsv1connect/campaign.connect.go
  server/proto/screens/v1/client.pb.go
  server/proto/screens/v1/general.pb.go
  server/proto/screens/v1/scene_actions.pb.go
  server/proto/screens/v1/server.pb.go
  server/proto/screens/v1/setup.pb.go
  server/proto/screens/v1/splash_screen.pb.go
  server/proto/screens/v1/state.pb.go
  server/proto/users/v1/login.pb.go
  server/proto/users/v1/users.pb.go
  server/proto/users/v1/usersv1connect/login.connect.go
  server/proto/users/v1/usersv1connect/users.connect.go
  shared/proto/campaigns/v1/campaign.proto
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/general.proto
  shared/proto/screens/v1/scene_actions.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
  shared/proto/screens/v1/splash_screen.proto
  shared/proto/screens/v1/state.proto
  shared/proto/users/v1/login.proto
  shared/proto/users/v1/users.proto
Labels: server

feat: adding the basic starts of the initial screen
  client/src/lib/2d/application.ts
  client/src/lib/api/client.ts
  client/src/lib/config/urls.ts
  client/src/lib/networking/server-events.ts
  client/src/lib/networking/websocket.ts
  client/src/routes/views/players/+page.svelte
  server/cmd/root.go
  server/infrastructure/transport/http/websocket_splitter.go
Labels: client, server

feat: adding setup request <-> response
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
Labels: none

chore: updating dockerignore to all the unnessecary things
  .dockerignore
Labels: none

auto: generated proto files
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/setup_pb.ts
  server/engine/screens/screens_requests.go
  server/pkg/gen/proto/screens/v1/client.pb.go
  server/pkg/gen/proto/screens/v1/server.pb.go
  server/pkg/gen/proto/screens/v1/setup.pb.go
Labels: client, server

refactor: fixing build issues
  server/cmd/root.go
Labels: server

adding initial setup requests
  server/engine/screens/screens_requests.go
Labels: server

chore: updated go work
  go.work.sum
Labels: dependencies

auto: generating proto
  client/src/proto/campaigns/v1/campaign_pb.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/setup_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_pb.ts
  server/proto/campaigns/v1/campaign.pb.go
  server/proto/campaigns/v1/campaignsv1connect/campaign.connect.go
  server/proto/screens/v1/client.pb.go
  server/proto/screens/v1/general.pb.go
  server/proto/screens/v1/scene_actions.pb.go
  server/proto/screens/v1/server.pb.go
  server/proto/screens/v1/setup.pb.go
  server/proto/screens/v1/splash_screen.pb.go
  server/proto/screens/v1/state.pb.go
  server/proto/users/v1/login.pb.go
  server/proto/users/v1/users.pb.go
  server/proto/users/v1/usersv1connect/login.connect.go
  server/proto/users/v1/usersv1connect/users.connect.go
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
Labels: client, server

chore(lint): fixing client lint issues
  client/src/lib/networking/server-events.ts
  client/src/lib/networking/websocket.ts
Labels: client

moving proto files
  buf.gen.yaml
  go.work.sum
  server/engine/screens/screen_conn.go
  server/engine/screens/screens.go
  server/engine/screens/screens_requests.go
  server/infrastructure/transport/grpc/login_service_handler.go
  server/infrastructure/transport/grpc/router.go
  server/infrastructure/transport/grpc/users_service_handler.go
Labels: server, dependencies

refactor: simplying setup
  server/cmd/root.go
Labels: server

fix: reworking paths to first grab local .config folders
  server/infrastructure/config/paths.go
Labels: server

feat: adding local debugging tools
  server/.config/config.yaml
  server/.vscode/launch.json
Labels: server

refactor: a single router
  server/application/checks/server.go
  server/cmd/server.go
  server/components/build.go
  server/components/servers.go
  server/go.mod
  server/go.sum
  server/infrastructure/health/health.go
  server/infrastructure/health/middleware.go
  server/infrastructure/logging/middleware.go
  server/infrastructure/servers/config.go
  server/infrastructure/servers/general.go
  server/infrastructure/servers/manager.go
  server/infrastructure/servers/options.go
  server/infrastructure/servers/server.go
  server/infrastructure/tracing/config.go
  server/infrastructure/tracing/errors.go
  server/infrastructure/tracing/middleware.go
  server/infrastructure/tracing/setup.go
  server/infrastructure/tracing/setup_test.go
  server/infrastructure/transport/cors/config.go
  server/infrastructure/transport/cors/handler.go
  server/infrastructure/transport/grpc/config.go
  server/infrastructure/transport/grpc/cors_handler.go
  server/infrastructure/transport/grpc/router.go
  server/infrastructure/transport/grpc/server.go
  server/infrastructure/transport/http/config.go
  server/infrastructure/transport/http/logger.go
  server/infrastructure/transport/http/otel.go
  server/infrastructure/transport/http/router.go
  server/infrastructure/transport/http/server.go
  server/infrastructure/transport/http/websocket.go
  server/infrastructure/transport/routers/allrouter.go
  server/infrastructure/transport/routers/options.go
Labels: server

chore(lint): logging error
  server/infrastructure/health/middleware.go
Labels: server

fix: fixing cmd flags
  server/cmd/server.go
  server/components/servers.go
  server/infrastructure/persistence/config.go
  server/infrastructure/tracing/config.go
  server/infrastructure/transport/websocket/config.go
Labels: server

refactor: removing old 8666
  Dockerfile
  client/src/lib/config/urls.ts
  docker-compose.yaml
  server/docs/assets/traffic.excalidraw.svg
  server/docs/settings.md
  server/infrastructure/health/health.go
  server/infrastructure/servers/config.go
  server/infrastructure/servers/options.go
  server/infrastructure/transport/routers/allrouter.go
  server/infrastructure/transport/routers/options.go
  tests/docker-compose.yaml
Labels: client, server, integration-tests, documentation

auto: generated settings
  server/.config/config.yaml
  server/docs/settings.md
  server/scripts/documentation/main.go
Labels: server, documentation

fix: fixing database config
  server/infrastructure/persistence/config.go
Labels: server

feat: optimizing config
  server/infrastructure/config/setup.go
  server/main.go
Labels: server

feat: adding golang docs
  server/README.md
Labels: server

refactor: fixed TODO
  server/TODO.md
  server/scripts/documentation/settings.go
Labels: server

Add WithTrace function to inject OpenTelemetry trace IDs into logs (#244)
  server/go.mod
  server/infrastructure/logging/logging_suite_test.go
  server/infrastructure/logging/shortcuts.go
  server/infrastructure/logging/shortcuts_test.go
Labels: server

Fix Docker image rebuild in integration tests pipeline (#242)
  .github/workflows/integration-tests.yaml
  tests/docker-compose.yaml
  tests/makefile
Labels: integration-tests, CI/CD

refactor: renaming tracing to telemetry
  README.md
  docs/configuration/opentelemetry.md
  server/cmd/server.go
  server/components/build.go
  server/components/servers.go
  server/docs/project-structure.md
  server/docs/settings.md
  server/go.mod
  server/infrastructure/doc.go
  server/infrastructure/telemetry/config.go
  server/infrastructure/telemetry/config_test.go
  server/infrastructure/telemetry/doc.go
  server/infrastructure/telemetry/errors.go
  server/infrastructure/telemetry/manager.go
  server/infrastructure/telemetry/manager_test.go
  server/infrastructure/telemetry/middleware.go
  server/infrastructure/telemetry/setup.go
  server/infrastructure/telemetry/setup_test.go
  server/infrastructure/telemetry/tracing_suite_test.go
  server/infrastructure/tracing/doc.go
  server/infrastructure/tracing/manager.go
Labels: server, documentation

feat: adding the span logging
  server/infrastructure/logging/shortcuts.go
  server/infrastructure/telemetry/middleware.go
  server/infrastructure/telemetry/span.go
Labels: server

fix: correcting tested service name
  server/infrastructure/telemetry/config_test.go
Labels: server

feat: adding otel for gorm
  go.work.sum
  server/go.mod
  server/go.sum
  server/infrastructure/persistence/constructor.go
Labels: server, dependencies

fix: fixing span
  server/infrastructure/telemetry/span.go
Labels: server

feat: adding the start of local telemetry setup
  docker/config/otel-collector-config.yaml
  docker/config/tempo.yaml
  docker/telemetry.yaml
Labels: none

refactor: removed dead code
  server/pkg/process/termination.go
Labels: server
