Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

fix: resolve Go version mismatch between workspace and server module (#252)
  go.work
  server/go.mod
  server/go.sum
Labels: server, dependencies

feat: adding the start of local telemetry setup
  docker/config/otel-collector-config.yaml
  docker/config/tempo.yaml
  docker/telemetry.yaml
Labels: none

feat: adding the start of local telemetry setup
  docker/config/otel-collector-config.yaml
  docker/config/tempo.yaml
  docker/telemetry.yaml
Labels: none

feat: Simplify telemetry stack using grafana/otel-lgtm (#266)
  docker/.gitignore
  docker/config/otel-collector-config.yaml
  docker/config/tempo.yaml
  docker/telemetry.yaml
Labels: none

Update docker/telemetry.yaml
  docker/telemetry.yaml
Labels: none

feat: including otel
  docker-compose.yaml
  tests/docker-compose.yaml
Labels: integration-tests

Configure mechanus service to export telemetry to otel-lgtm (#271)
  .env.example
  docker-compose.yaml
Labels: none

Add OpenTelemetry log provider with charm.sh logger bridge (#272)
  docs/configuration/opentelemetry.md
  go.work.sum
  server/go.mod
  server/go.sum
  server/infrastructure/telemetry/log_bridge.go
  server/infrastructure/telemetry/log_bridge_test.go
  server/infrastructure/telemetry/manager.go
  server/infrastructure/telemetry/setup.go
Labels: server, documentation, dependencies

feat: adding the start of local telemetry setup (#245)
  .env.example
  docker-compose.yaml
  docker/.gitignore
  docker/telemetry.yaml
  tests/docker-compose.yaml
Labels: integration-tests

Enable integration tests for multiple database backends (#273)
  .github/workflows/integration-tests.yaml
  tests/README.md
  tests/docker-compose.inmemory.yaml
  tests/docker-compose.postgres.yaml
  tests/docker-compose.sqlite.yaml
  tests/makefile
Labels: integration-tests, CI/CD

chore: adding no lint op
  server/infrastructure/persistence/config.go
Labels: server

feat: upgrading golang to 1.26
  Dockerfile
  go.work
  server/engine/screens/screens_requests.go
  server/go.mod
  server/infrastructure/authentication/jwt_claims.go
  server/infrastructure/logging/prefix.go
  server/infrastructure/logging/shortcuts.go
  server/infrastructure/storage/unmarshall.go
  server/infrastructure/telemetry/span.go
  server/infrastructure/transport/websocket/handler.go
  server/pkg/extensions/ptr/examples_test.go
  server/pkg/extensions/ptr/to.go
  server/pkg/must/call.go
Labels: server, dependencies

feat: cleaning sum
  go.work.sum
Labels: dependencies

Remove redundant ptr package - use Go 1.26 native new() feature (#323)
  .gitignore
  server/pkg/extensions/ptr/examples_test.go
  server/pkg/extensions/ptr/to.go
Labels: server

chore: split npm dependency groups in dependabot by category (#373)
  .github/dependabot.yml
Labels: CI/CD

fix: skip Playwright browser download during Docker image build (#380)
  Dockerfile
Labels: none

fix: reuse docker image in integration tests instead of rebuilding (#381)
  .github/workflows/docker-checks.yaml
  .github/workflows/integration-tests.yaml
Labels: CI/CD

chore: tighten goconst config and fix insecure cookie HttpOnly attribute (#399)
  server/.golangci.yml
  server/pkg/net/http/cookies/headers.go
Labels: server

chore: update Svelte and related dependencies to latest versions (#408)
  client/package-lock.json
  client/package.json
  client/src/app.css
  client/src/lib/2d/application.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/setup_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_pb.ts
Labels: client

chore: making a map of things left TODO
  TODO.md
  client/package-lock.json
  client/src/lib/2d/application.ts
  client/src/routes/campaigns/+page.svelte
  go.work.sum
  server/engine/scenes/manager.go
Labels: client, server, documentation, dependencies

refactor: using just instead of make
  README.md
  docs/contributing.md
  justfile
  makefile
  server/justfile
  server/makefile
Labels: server, documentation

feat: adding just default
  justfile
Labels: none

chore: upgrading all dependencies
  server/go.mod
  server/go.sum
Labels: server

feat: upgrading all
  go.work.sum
  server/go.mod
  server/go.sum
Labels: server, dependencies

chore: upgrade all (#421)
  go.work.sum
  server/go.mod
  server/go.sum
Labels: server, dependencies

refactor: converted to justfile
  client/justfile
  client/makefile
Labels: client

feat: adding more just commands for local development
  justfile
Labels: none

fix: binding name to env instead of around
  server/infrastructure/config/env.go
Labels: server

chore: syncing go work
  go.work.sum
Labels: dependencies

chore: formatting markdown files
  docs/api/webserver.md
  docs/configuration/config-file.md
  docs/configuration/database.md
  docs/configuration/opentelemetry.md
  docs/contributing.md
  server/docs/screens/scene-to-screen.md
Labels: server, documentation

feat: adding claude file
  CLAUDE.md
Labels: documentation

feat: adding just commands to docs
  docs/development.md
Labels: documentation

feat: adding architecture documentation
  README.md
  docs/README.md
  docs/architecture/README.md
  docs/architecture/authentication.md
  docs/architecture/client.md
  docs/architecture/communication.md
  docs/architecture/database.md
  docs/architecture/mdns.md
  docs/architecture/server.md
Labels: documentation

feat: adding examples to the database configuration
  docs/configuration/database.md
Labels: documentation

fix: correct UI styling issues across login, signup, masters, and profile pages
  client/src/routes/masters/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
Labels: client

fix: correct UI styling issues across login, signup, masters, and pro… (#426)
  client/src/routes/masters/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
Labels: client

Update dependabot.yml
  .github/dependabot.yml
Labels: CI/CD

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
