Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

caching images
  .github/workflows/docker-checks.yaml
Labels: CI/CD

adding documentation
  client/README.md
Labels: client

updating the readme
  server/README.md
Labels: server

adding flowbite
  client/package-lock.json
  client/package.json
Labels: client

initial setup
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/src/app.css
  client/src/app.d.ts
  client/src/app.html
  client/src/routes/+layout.js
  client/src/routes/+layout.svelte
  client/svelte.config.js
  client/tsconfig.json
  client/vite.config.ts
Labels: client

reworking to use flowbite more
  client/package-lock.json
  client/package.json
  client/src/app.css
  client/src/components/footer.svelte
  client/src/components/nav-bar.svelte
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
Labels: client

recent update of pages
  client/.prettierrc
  client/README.md
  client/package.json
  client/src/app.css
  client/src/app.d.ts
  client/src/app.html
  client/src/components/footer.svelte
  client/src/components/nav-bar.svelte
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/global.css
  client/tsconfig.json
  client/vite.config.ts
Labels: client

revoke push
  .github/workflows/docker-checks.yaml
Labels: CI/CD

adding local build of image
  .github/workflows/integration-tests.yaml
Labels: CI/CD

adding cache in docker compose
  tests/docker-compose.yaml
Labels: integration-tests

fixing docker compose cache
  tests/docker-compose.yaml
Labels: integration-tests

fixing up the tests
  client/src/app.css
  client/src/components/nav-bar.svelte
  client/src/lib/handlers/user.ts
  client/src/routes/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/docker-compose.yaml
  tests/tests/browsers/chromium/example.spec.ts
  tests/tests/general/example.spec.ts
  tests/tests/general/homepage.spec.ts
  tests/tests/general/user/admin.spec.ts
  tests/tests/general/user/profile.spec.ts
Labels: client, integration-tests

Feature/flowbite (#123)
  .github/workflows/integration-tests.yaml
  client/.gitignore
  client/.prettierignore
  client/.prettierrc
  client/README.md
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/playwright.config.ts
  client/src/app.css
  client/src/app.d.ts
  client/src/components/footer.svelte
  client/src/components/nav-bar.svelte
  client/src/lib/handlers/user.ts
  client/src/routes/+layout.js
  client/src/routes/+layout.svelte
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/global.css
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  client/svelte.config.js
  client/tsconfig.json
  client/vite.config.ts
  server/README.md
  tests/docker-compose.yaml
  tests/tests/browsers/chromium/example.spec.ts
  tests/tests/general/example.spec.ts
  tests/tests/general/homepage.spec.ts
  tests/tests/general/user/admin.spec.ts
  tests/tests/general/user/profile.spec.ts
Labels: client, server, integration-tests, CI/CD

refactor so far
  client/eslint.config.js
  client/src/components/nav-bar.svelte
  client/src/lib/api/client.ts
  client/src/lib/cookies/constants.ts
  client/src/lib/cookies/cookies.ts
  client/src/lib/cookies/index.ts
  client/src/lib/handlers/user.ts
  client/src/lib/storage/cookies.ts
  client/src/lib/storage/index.ts
  client/src/lib/storage/local.ts
  client/src/lib/storage/session.ts
  client/src/lib/timings/sleep.ts
  client/src/routes/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/playwright.config.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

trying to fix it all
  client/src/components/nav-bar.svelte
  client/src/lib/api/client.ts
  client/src/lib/handlers/user.ts
  client/src/lib/storage/cookies.ts
  client/src/routes/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/playwright.config.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

More cookie checks
  client/src/lib/storage/cookies.ts
  tests/tests/general/user/login/admin.spec.ts
Labels: client, integration-tests

Adding better cors handling
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/internal/grpc/config.go
  server/internal/grpc/router.go
  server/pkg/config/config.go
  server/pkg/config/flags.go
  server/pkg/extensions/url/localhost.go
  server/pkg/extensions/url/localhost_test.go
  server/pkg/extensions/url/url_suite_test.go
  server/pkg/grpc/handlers/cors.go
  server/pkg/grpc/rpcs/rpcs_users/login.go
  server/pkg/http/cookies/handler.go
Labels: server

fixing cookie
  server/pkg/http/cookies/handler.go
Labels: server

linting issues
  server/internal/components/wire_gen.go
  server/makefile
  server/pkg/extensions/url/localhost.go
  server/pkg/http/cookies/handler.go
Labels: server

Adding cors docs
  server/.config/config.yaml
  server/docs/settings.md
  server/pkg/grpc/handlers/cors.go
Labels: server, documentation

Adding better cors handling (#129)
  server/.config/config.yaml
  server/docs/settings.md
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/internal/grpc/config.go
  server/internal/grpc/router.go
  server/makefile
  server/pkg/config/config.go
  server/pkg/config/flags.go
  server/pkg/extensions/url/localhost.go
  server/pkg/extensions/url/localhost_test.go
  server/pkg/extensions/url/url_suite_test.go
  server/pkg/grpc/handlers/cors.go
  server/pkg/grpc/rpcs/rpcs_users/login.go
  server/pkg/http/cookies/handler.go
Labels: server, documentation

More cookie checks
  client/src/lib/storage/cookies.ts
  tests/tests/general/user/login/admin.spec.ts
Labels: client, integration-tests

trying to fix it all
  client/src/components/nav-bar.svelte
  client/src/lib/api/client.ts
  client/src/lib/handlers/user.ts
  client/src/lib/storage/cookies.ts
  client/src/routes/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/playwright.config.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

refactor so far
  client/eslint.config.js
  client/src/components/nav-bar.svelte
  client/src/lib/api/client.ts
  client/src/lib/cookies/constants.ts
  client/src/lib/cookies/cookies.ts
  client/src/lib/cookies/index.ts
  client/src/lib/handlers/user.ts
  client/src/lib/storage/cookies.ts
  client/src/lib/storage/index.ts
  client/src/lib/storage/local.ts
  client/src/lib/storage/session.ts
  client/src/lib/timings/sleep.ts
  client/src/routes/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/playwright.config.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

refactor so far (#126)
  client/eslint.config.js
  client/src/components/nav-bar.svelte
  client/src/lib/api/client.ts
  client/src/lib/cookies/constants.ts
  client/src/lib/cookies/cookies.ts
  client/src/lib/cookies/index.ts
  client/src/lib/handlers/user.ts
  client/src/lib/storage/cookies.ts
  client/src/lib/storage/index.ts
  client/src/lib/storage/local.ts
  client/src/lib/storage/session.ts
  client/src/lib/timings/sleep.ts
  client/src/routes/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  tests/playwright.config.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

fix: cleaning up tests
  client/playwright.config.ts
  client/tests/pages/masters/page.gui.ts
  client/tests/pages/players/login/page.gui.ts
  client/tests/pages/players/signup/page.gui.ts
  client/tests/pages/users/login/page.gui.ts
  client/tests/pages/users/signup/page.gui.ts
Labels: client

fix: updating client
  tests/tests/general/user/login/admin.spec.ts
Labels: integration-tests

adding the start of sdui
  client/src/app.html
  client/src/lib/2d/application.ts
  client/src/lib/components/error-message.svelte
  client/src/lib/components/footer.svelte
  client/src/lib/components/nav-bar.svelte
  client/src/lib/views/SDUI.svelte
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/devices/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  client/src/routes/views/admins/+page.svelte
  client/src/routes/views/devices/[id]/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

adding more
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/devices/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/views/+page.svelte
  client/src/routes/views/devices/+page.svelte
  client/src/routes/views/game-master/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

adding the start of sdui (#133)
  client/src/app.html
  client/src/lib/2d/application.ts
  client/src/lib/components/error-message.svelte
  client/src/lib/components/footer.svelte
  client/src/lib/components/nav-bar.svelte
  client/src/lib/views/SDUI.svelte
  client/src/routes/+page.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/campaigns/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/devices/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
  client/src/routes/views/+page.svelte
  client/src/routes/views/devices/+page.svelte
  client/src/routes/views/game-master/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

refactoring cards
  client/src/lib/2d/application.ts
  client/src/lib/components/cards/simple.svelte
  client/src/lib/components/collections/fluid.svelte
  client/src/routes/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/demo/size/+page.svelte
  client/src/routes/views/+page.svelte
  client/src/routes/views/devices/+page.svelte
  client/src/routes/views/game-master/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

fixing build issues
  client/src/lib/2d/application.ts
  client/src/routes/demo/size/+page.svelte
  client/src/routes/views/+page.svelte
  client/src/routes/views/devices/+page.svelte
  client/src/routes/views/game-master/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

fix: applying lint fixes
  client/src/app.html
  client/src/lib/components/cards/simple.svelte
  client/src/routes/about/+page.svelte
  client/src/routes/demo/+page.svelte
  client/src/routes/demo/size/+page.svelte
  client/src/routes/views/+page.svelte
  client/src/routes/views/devices/+page.svelte
  client/src/routes/views/game-master/+page.svelte
  client/src/routes/views/players/+page.svelte
Labels: client

feat: adding fang
  server/cmd/info.go
  server/cmd/mdns/root.go
  server/cmd/root.go
  server/docs/settings.md
  server/go.mod
  server/go.sum
Labels: server, documentation

feat: making ci/cd more optimitic
  .github/workflows/checks.yml
Labels: CI/CD

feat: adding fang (#135)
  server/cmd/info.go
  server/cmd/mdns/root.go
  server/cmd/root.go
  server/docs/settings.md
  server/go.mod
  server/go.sum
Labels: server, documentation

feat: adding release-drafter
  .github/release-drafter.yml
  .github/workflows/auto-label-pr.yaml
  .github/workflows/checks.yaml
  .github/workflows/client-checks.yaml
  .github/workflows/release-drafter.yaml
Labels: CI/CD

renaming ci/cd
  .github/workflows/auto-label-pr.yaml
Labels: CI/CD

feat: adding release-drafter (#136)
  .github/release-drafter.yml
  .github/workflows/auto-label-pr.yaml
  .github/workflows/checks.yaml
  .github/workflows/client-checks.yaml
  .github/workflows/release-drafter.yaml
Labels: CI/CD

fix: renaming pipelines
  .github/workflows/auto-label-pr.yaml
  .github/workflows/release-drafter.yaml
Labels: CI/CD
