Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"

chore(lint): fixing linting, keys not sorted
  server/docs/settings.md
  server/pkg/authenication/roles/service_test.go
  server/scripts/documentation/main.go
Labels: server, documentation

chore: adding more groups for docker compose
  .github/dependabot.yml
Labels: CI/CD

feat: adding documentation section
  .github/release-drafter.yml
Labels: CI/CD

docs: adding more sections
  .github/release-drafter.yml
Labels: CI/CD

docs: fixing CI badge
  README.md
Labels: documentation

docs: fixing CI badge (#150)
  README.md
Labels: documentation

feat: adding playground
  client/src/routes/demo/+page.svelte
  client/src/routes/demo/playground/+page.svelte
Labels: client

docs: added comment
  client/src/routes/demo/playground/+page.svelte
Labels: client

adding the basics
  client/src/lib/2d/application.ts
  client/src/lib/2d/components/splashscreen.ts
Labels: client

feat: adding more on splashscreen
  client/src/lib/2d/application.ts
  client/src/lib/2d/components/splashscreen.ts
  server/pkg/extensions/crypto/rsa.go
Labels: client, server

updating code
  client/src/lib/2d/application.ts
Labels: client

feat: adding prettier extension
  .vscode/extensions.json
Labels: none

feat: adding playground (#163)
  .vscode/extensions.json
  client/src/lib/2d/application.ts
  client/src/lib/2d/components/splashscreen.ts
  client/src/routes/demo/+page.svelte
  client/src/routes/demo/playground/+page.svelte
  server/pkg/extensions/crypto/rsa.go
Labels: client, server

chore: replacing wire since its archived
  go.work
  go.work.sum
  server/.vscode/extensions.json
  server/.vscode/launch.json
  server/.vscode/settings.json
  server/go.mod
  server/go.sum
  server/internal/components/database.go
  server/internal/components/main.go
  server/internal/components/servers.go
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/pkg/database/config.go
Labels: server, dependencies

chore: replacing wire since its archived
  Dockerfile
Labels: none

chore: passing setup ctx for database
  server/internal/components/database.go
  server/internal/components/main.go
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
  server/tests/component-test/pkg/services/campaigns/service_test.go
  server/tests/component-test/pkg/services/users/service_test.go
  server/tests/component-test/util/database.go
Labels: server

chore: replacing wire since its archived (#166)
  Dockerfile
  go.work
  go.work.sum
  server/.vscode/extensions.json
  server/.vscode/launch.json
  server/.vscode/settings.json
  server/go.mod
  server/go.sum
  server/internal/components/database.go
  server/internal/components/main.go
  server/internal/components/servers.go
  server/internal/components/wire.go
  server/internal/components/wire_gen.go
  server/pkg/database/config.go
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
  server/tests/component-test/pkg/services/campaigns/service_test.go
  server/tests/component-test/pkg/services/users/service_test.go
  server/tests/component-test/util/database.go
Labels: server, dependencies

docs: updating readme
  README.md
  docs/assets/overview.svg
Labels: documentation

docs: adding tech stack
  .vscode/settings.json
  README.md
  client/README.md
  server/go.mod
Labels: client, server, documentation

auto: go mod tidied
  server/go.mod
Labels: server

docs: adding documentation readme
  README.md
  docs/README.md
  docs/development.md
Labels: documentation

feat: adding a workflow to release the docker image
  .github/workflows/release-assets.yaml
Labels: CI/CD

feat: adding spellcheck
  .vscode/cspell.json
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: adding a workflow to release the docker image (#167)
  .github/workflows/release-assets.yaml
Labels: CI/CD

fix: lowercase repo
  .github/workflows/release-assets.yaml
Labels: CI/CD

fix: lowercase tags for documentation
  .github/workflows/release-assets.yaml
Labels: CI/CD

feat: adding client <-> server setup
  client/src/lib/2d/application.ts
  client/src/lib/api/client.ts
  client/src/lib/config/index.ts
  client/src/lib/config/urls.ts
  client/src/lib/networking/websocket.ts
  client/src/lib/stores/clients.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/screens_connect.ts
  client/src/proto/screens/v1/server_pb.ts
  server/internal/components/build.go
  server/pkg/grpc/gen/screens/v1/client.pb.go
  server/pkg/grpc/gen/screens/v1/general.pb.go
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  server/pkg/grpc/gen/screens/v1/screensv1connect/screens.connect.go
  server/pkg/grpc/gen/screens/v1/server.pb.go
  server/pkg/grpc/rpcs/rpcs_screens/handler.go
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/general.proto
  shared/proto/screens/v1/screens.proto
  shared/proto/screens/v1/server.proto
Labels: client, server

refactor: authenication -> authentication
  client/src/lib/authentication/jwt/parse.ts
  client/src/lib/handlers/user.ts
  server/internal/components/application_wrapper.go
  server/internal/components/build.go
  server/internal/grpc/router.go
  server/pkg/authentication/authenication_suite_test.go
  server/pkg/authentication/context.go
  server/pkg/authentication/context_test.go
  server/pkg/authentication/errors.go
  server/pkg/authentication/jti_service.go
  server/pkg/authentication/jwt_claims.go
  server/pkg/authentication/jwt_service.go
  server/pkg/authentication/key_data.go
  server/pkg/authentication/key_storage.go
  server/pkg/authentication/roles/role.go
  server/pkg/authentication/roles/role_test.go
  server/pkg/authentication/roles/roles_suite_test.go
  server/pkg/authentication/roles/service.go
  server/pkg/authentication/roles/service_test.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_users/login.go
  server/pkg/grpc/rpcs/rpcs_users/users.go
  server/tests/component-test/pkg/authenication/authenication_suite_test.go
  server/tests/component-test/pkg/authenication/jti_server_test.go
  server/tests/component-test/pkg/authenication/jwt_service_test.go
Labels: client, server

feat: using websockets for the screen handler for full duplex communication, still using proto ofc 🌞
  .vscode/cspell.json
  server/.golangci.yml
  server/docs/api/websocket.md
  server/docs/authentication/authentication.md
  server/go.mod
  server/go.sum
  server/internal/api/websocket-config.go
  server/internal/api/websocket-message.go
  server/internal/api/websocket.go
  server/internal/components/build.go
  server/internal/components/servers.go
  server/internal/logging/prefix.go
  server/mechanus/scenes/manager.go
  server/mechanus/screens/listeners.go
  server/mechanus/screens/manager.go
  server/mechanus/screens/screens.go
  server/pkg/authentication/jwt_claims.go
  server/pkg/authentication/roles/role.go
  server/pkg/authentication/roles/role_test.go
  server/pkg/extensions/sync/map.go
  server/pkg/grpc/gen/screens/v1/screens.pb.go
  server/pkg/http/middleware/websockets.go
Labels: server, documentation

fix: weird tests and build complications
  server/internal/grpc/router.go
  server/makefile
  server/pkg/authentication/authenication_suite_test.go
  server/pkg/grpc/gen/screens/v1/screensv1connect/screens.connect.go
  server/tests/component-test/pkg/authenication/authenication_suite_test.go
Labels: server

feat: adding client side websocket
  client/src/lib/config/urls.ts
  client/src/lib/networking/websocket.ts
  docs/api/webserver.md
  docs/api/websocket.md
  server/internal/api/websocket.go
Labels: client, server, documentation

fix: removing unused proto file
  shared/proto/screens/v1/screens.proto
Labels: none

auto: fixing proto
  makefile
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/general.proto
  shared/proto/screens/v1/server.proto
Labels: none

fix: fixing client build errors and server linting errors
  client/src/lib/2d/application.ts
  client/src/lib/api/client.ts
  client/src/lib/stores/clients.ts
  server/.golangci.yml
Labels: client, server

fix: fixing linting issues
  go.work.sum
  server/.golangci.yml
  server/cmd/config/root.go
  server/cmd/info.go
  server/cmd/maps/import.go
  server/cmd/mdns/root.go
  server/cmd/root.go
  server/internal/api/websocket.go
  server/internal/logging/implements.go
  server/internal/logging/prefix.go
  server/internal/setup/logger.go
  server/makefile
  server/mechanus/screens/screens.go
  server/mechanus/screens/state/screen.go
  server/pkg/authentication/roles/service.go
  server/pkg/config/paths.go
  server/pkg/database/models/users.go
  server/pkg/database/options.go
  server/pkg/extensions/crypto/rsa.go
  server/pkg/extensions/crypto/rsa_test.go
  server/pkg/extensions/errors/errors.go
  server/pkg/extensions/slices/filter.go
  server/pkg/extensions/slices/map.go
  server/pkg/extensions/strings/empty.go
  server/pkg/extensions/sync/map.go
  server/pkg/http/middleware/websockets.go
  server/pkg/networking/mdns/config.go
  server/pkg/networking/mdns/constants.go
  server/pkg/networking/mdns/doc.go
  server/pkg/servers/general.go
  server/pkg/storage/unmarshall.go
  server/vttrpg/uvtt/doc.go
Labels: server, dependencies

refactor: moving logging and websockets
  server/infrastructure/logging/context.go
  server/infrastructure/logging/errors.go
  server/infrastructure/logging/implements.go
  server/infrastructure/logging/prefix.go
  server/infrastructure/logging/shortcuts.go
  server/infrastructure/transport/websocket/config.go
  server/infrastructure/transport/websocket/conn-handler.go
  server/infrastructure/transport/websocket/doc.go
  server/infrastructure/transport/websocket/handler.go
  server/infrastructure/transport/websocket/router.go
  server/internal/api/websocket-message.go
  server/internal/api/websocket.go
  server/internal/components/build.go
  server/internal/components/servers.go
  server/internal/setup/config.go
  server/pkg/authentication/jti_service.go
  server/pkg/authentication/jwt_service.go
  server/pkg/authentication/key_storage.go
  server/pkg/extensions/gorm/logger.go
  server/pkg/grpc/interceptors/interceptors.go
  server/pkg/grpc/interceptors/jwt_middleware.go
  server/pkg/grpc/rpcs/rpcs_users/users.go
  server/pkg/http/middleware/logger.go
  server/pkg/networking/mdns/server.go
  server/pkg/networking/mdns/server_conn.go
  server/pkg/services/campaigns/service.go
  server/pkg/services/users/service.go
  server/pkg/storage/db-storage.go
  server/pkg/storage/file-storage.go
Labels: server

refactor: moving web handler
  server/cmd/server.go
  server/infrastructure/transport/http/config.go
  server/infrastructure/transport/http/router.go
  server/infrastructure/transport/http/server.go
  server/internal/components/build.go
  server/internal/components/servers.go
Labels: server

refactor: movin grpc
  server/cmd/server.go
  server/engine/doc.go
  server/infrastructure/tracing/doc.go
  server/infrastructure/transport/grpc/config.go
  server/infrastructure/transport/grpc/router.go
  server/infrastructure/transport/grpc/server.go
  server/internal/components/build.go
  server/internal/components/servers.go
Labels: server

refactor: moving around settings
  .vscode/mechanus.code-workspace
Labels: none

auto: formatted the files
  server/infrastructure/transport/websocket/doc.go
Labels: server
