Repository DaanV2/mechanus, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, proto, integration-tests, CI/CD, documentation, dependencies

refactor: renaming paths file
  server/application/manager.go
  server/application/register.go
  server/mechanus/paths/linux.go
  server/mechanus/paths/macos.go
  server/mechanus/paths/windows.go
Labels: server

feat: adding doc
  server/TODO.md
  server/application/doc.go
  server/cmd/doc.go
  server/components/doc.go
  server/docs/project-structure.md
  server/engine/doc.go
  server/infrastructure/doc.go
  server/pkg/doc.go
Labels: server, documentation

auto: formatted
  server/cmd/server.go
  server/docs/settings.md
  server/engine/authz/roles/role_test.go
  server/engine/authz/roles/service_test.go
  server/infrastructure/persistence/config.go
  server/infrastructure/persistence/constructor.go
  server/infrastructure/persistence/options.go
Labels: server, documentation

refactor: moving must code
  server/pkg/extensions/xerrors/errors.go
  server/pkg/must/call.go
Labels: server

refactor: using user repo
  .vscode/mechanus.code-workspace
  server/TODO.md
  server/application/user_service.go
  server/components/build.go
  server/infrastructure/persistence/repositories/user.go
  server/infrastructure/transport/grpc/login_service.go
  server/tests/component-test/application/user_service_test.go
Labels: server

refactor: user.name -> user.username
  server/application/checks/server.go
  server/application/user_service.go
  server/infrastructure/authentication/jwt_service.go
  server/infrastructure/persistence/models/users.go
  server/infrastructure/persistence/repositories/user.go
  server/infrastructure/transport/grpc/users_service.go
  server/tests/component-test/application/user_service_test.go
  server/tests/component-test/util/users.go
Labels: server

fix: usernames need to be better
  server/application/checks/server.go
  server/infrastructure/persistence/repositories/user.go
  server/infrastructure/transport/grpc/users_service.go
  server/tests/component-test/application/user_service_test.go
  server/tests/component-test/util/users.go
Labels: server

Create LICENSE
  LICENSE
Labels: none

Create LICENSE (#179)
  LICENSE
Labels: none

refactor: adding campaign repo
  server/application/campaign_service.go
  server/infrastructure/persistence/repositories/campaigns.go
  server/infrastructure/persistence/repositories/users.go
  server/tests/component-test/application/campaigns_service_test.go
Labels: server

chore(deps): updating server dependencies
  server/go.mod
  server/go.sum
Labels: server

chore(deps): updating server dependencies (#181)
  server/go.mod
  server/go.sum
Labels: server

fix: applying lint fixes
  client/README.md
  client/package.json
  client/src/lib/2d/application.ts
  client/src/lib/config/index.ts
  client/src/lib/config/urls.ts
  client/src/lib/stores/clients.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_pb.ts
  client/src/routes/demo/+page.svelte
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
Labels: client

chore: fixing imports, disablling broken rule for now
  client/eslint.config.js
  client/src/routes/users/login/+page.svelte
  client/src/routes/users/profile/+page.svelte
  client/src/routes/users/signup/+page.svelte
Labels: client

chore(deps): migrating buf to v2
  buf.gen.yaml
  client/package-lock.json
  client/package.json
  client/src/lib/api/users_v1.ts
  client/src/proto/campaigns/v1/campaign_connect.ts
  client/src/proto/campaigns/v1/campaign_pb.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/screen_actions_pb.ts
  client/src/proto/screens/v1/screens_connect.ts
  client/src/proto/screens/v1/screens_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_connect.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_connect.ts
  client/src/proto/users/v1/users_pb.ts
  server/pkg/gen/proto/rendering/v1/rendering.pb.go
  server/pkg/gen/proto/rendering/v1/renderingv1connect/rendering.connect.go
Labels: client, server

feat: updating dependabot with more groups for npm
  .github/dependabot.yml
Labels: CI/CD

fix: login button is now a link 🤷
  tests/tests/general/homepage.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: integration-tests

auto: formatted readme
  tests/README.md
Labels: integration-tests

fix: fixing more tests
  tests/playwright.config.ts
  tests/tests/general/homepage.spec.ts
  tests/tests/general/user/login/admin.spec.ts
  tests/tests/general/user/login/user.spec.ts
  tests/tests/homepage.spec.ts
Labels: integration-tests

fix: fixing confirm password id
  client/src/routes/users/signup/+page.svelte
  tests/tests/devices/iphone/example.spec.ts
  tests/tests/devices/iphone/homepage.spec.ts
  tests/tests/devices/pixel/example.spec.ts
  tests/tests/devices/pixel/homepage.spec.ts
  tests/tests/general/user/login/user.spec.ts
Labels: client, integration-tests

feat: adding in dependabot for tests
  .github/dependabot.yml
Labels: CI/CD

refactor: moving server code to infrastructure from pkg
  server/components/servers.go
  server/infrastructure/servers/general.go
  server/infrastructure/servers/http_server.go
  server/infrastructure/servers/manager.go
  server/infrastructure/transport/grpc/server.go
  server/infrastructure/transport/http/config.go
  server/infrastructure/transport/http/server.go
Labels: server

auto: formatting documentation
  .vscode/mechanus.code-workspace
  server/docs/settings.md
Labels: server, documentation

docs: adding comment to Range function
  server/pkg/extensions/xsync/map.go
Labels: server

auto: regenerated proto files
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_pb.ts
Labels: client

auto: generated proto
  server/pkg/gen/proto/screens/v1/server.pb.go
  shared/proto/screens/v1/server.proto
Labels: server

feat: adding websocket handlers
  server/engine/authentication/roles/role.go
  server/engine/authentication/roles/role_test.go
  server/engine/authentication/roles/roles_suite_test.go
  server/engine/authentication/roles/service.go
  server/engine/authentication/roles/service_test.go
  server/engine/devices/type.go
  server/engine/screens/manager.go
  server/engine/screens/screen_conn.go
  server/engine/screens/screens.go
  server/engine/screens/screens_requests.go
  server/infrastructure/authentication/context.go
  server/infrastructure/authentication/context_test.go
  server/infrastructure/logging/context.go
  server/infrastructure/logging/prefix.go
  server/infrastructure/transport/grpc/users_service.go
  server/infrastructure/transport/websocket/conn-handler.go
  server/infrastructure/transport/websocket/handler.go
  server/main.go
  server/pkg/extensions/xsync/map.go
Labels: server

adding traffic overview
  server/docs/assets/traffic.excalidraw.svg
  server/docs/traffic.md
Labels: server, documentation

refactor: lifecycle manager
  server/application/manager.go
  server/application/register.go
  server/cmd/server.go
  server/components/application_wrapper.go
  server/components/build.go
  server/components/servers.go
  server/infrastructure/authentication/key_storage.go
  server/infrastructure/lifecycle/manager.go
  server/infrastructure/persistence/constructor.go
  server/infrastructure/transport/grpc/login_service_handler.go
  server/infrastructure/transport/grpc/users_service_handler.go
  server/infrastructure/transport/http/config.go
  server/infrastructure/transport/http/router.go
  server/pkg/extensions/xsync/slice.go
Labels: server

chore: formatted proto
  shared/proto/screens/v1/server.proto
Labels: none

chore(lint): fixing linting issues
  server/components/servers.go
  server/docs/settings.md
  server/engine/authentication/roles/role_test.go
  server/engine/authentication/roles/service_test.go
  server/engine/devices/type.go
  server/engine/screens/manager.go
  server/engine/screens/screen_conn.go
  server/infrastructure/logging/context.go
  server/infrastructure/persistence/constructor.go
  server/infrastructure/transport/websocket/handler.go
  server/pkg/extensions/xsync/slice.go
  server/tests/component-test/util/database.go
Labels: server, documentation

feat: adding setup request <-> response
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
Labels: none

feat: adding local debugging tools
  server/.config/config.yaml
  server/.vscode/launch.json
Labels: server

fix: reworking paths to first grab local .config folders
  server/infrastructure/config/paths.go
Labels: server

auto: generated proto files
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/setup_pb.ts
  server/engine/screens/screens_requests.go
  server/pkg/gen/proto/screens/v1/client.pb.go
  server/pkg/gen/proto/screens/v1/server.pb.go
  server/pkg/gen/proto/screens/v1/setup.pb.go
Labels: client, server

chore: updated go work
  go.work.sum
Labels: dependencies

refactor: moving proto files
  server/proto/campaigns/v1/campaign.pb.go
  server/proto/campaigns/v1/campaignsv1connect/campaign.connect.go
  server/proto/screens/v1/client.pb.go
  server/proto/screens/v1/general.pb.go
  server/proto/screens/v1/scene_actions.pb.go
  server/proto/screens/v1/server.pb.go
  server/proto/screens/v1/setup.pb.go
  server/proto/screens/v1/splash_screen.pb.go
  server/proto/screens/v1/state.pb.go
  server/proto/users/v1/login.pb.go
  server/proto/users/v1/users.pb.go
  server/proto/users/v1/usersv1connect/login.connect.go
  server/proto/users/v1/usersv1connect/users.connect.go
  shared/proto/campaigns/v1/campaign.proto
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/general.proto
  shared/proto/screens/v1/scene_actions.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
  shared/proto/screens/v1/splash_screen.proto
  shared/proto/screens/v1/state.proto
  shared/proto/users/v1/login.proto
  shared/proto/users/v1/users.proto
Labels: server

moving proto files
  buf.gen.yaml
  server/engine/screens/screen_conn.go
  server/engine/screens/screens.go
  server/engine/screens/screens_requests.go
  server/infrastructure/transport/grpc/login_service_handler.go
  server/infrastructure/transport/grpc/router.go
  server/infrastructure/transport/grpc/users_service_handler.go
Labels: server

adding initial setup requests
  server/engine/screens/screens_requests.go
Labels: server

auto: generating proto
  client/src/proto/campaigns/v1/campaign_pb.ts
  client/src/proto/screens/v1/client_pb.ts
  client/src/proto/screens/v1/general_pb.ts
  client/src/proto/screens/v1/scene_actions_pb.ts
  client/src/proto/screens/v1/server_pb.ts
  client/src/proto/screens/v1/setup_pb.ts
  client/src/proto/screens/v1/splash_screen_pb.ts
  client/src/proto/screens/v1/state_pb.ts
  client/src/proto/users/v1/login_pb.ts
  client/src/proto/users/v1/users_pb.ts
  server/proto/campaigns/v1/campaign.pb.go
  server/proto/campaigns/v1/campaignsv1connect/campaign.connect.go
  server/proto/screens/v1/client.pb.go
  server/proto/screens/v1/general.pb.go
  server/proto/screens/v1/scene_actions.pb.go
  server/proto/screens/v1/server.pb.go
  server/proto/screens/v1/setup.pb.go
  server/proto/screens/v1/splash_screen.pb.go
  server/proto/screens/v1/state.pb.go
  server/proto/users/v1/login.pb.go
  server/proto/users/v1/users.pb.go
  server/proto/users/v1/usersv1connect/login.connect.go
  server/proto/users/v1/usersv1connect/users.connect.go
  shared/proto/screens/v1/client.proto
  shared/proto/screens/v1/server.proto
  shared/proto/screens/v1/setup.proto
Labels: client, server

.github/labeler.yml:

client:
  - changed-files:
      - any-glob-to-any-file:
          - "client/**"
server:
  - changed-files:
      - any-glob-to-any-file:
          - "server/**"
proto:
  - changed-files:
      - any-glob-to-any-file:
          - "*.proto"
integration-tests:
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**"
CI/CD:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**"
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/docs/**"
          - "*.md"

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - package-lock.json
          - go.mod
          - go.sum
          - go.work
          - go.work.sum

bug:
  - head-branch: ["^bug", "bug"]
feature:
  - head-branch: ["^feature", "feature"]

  # Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: "main"
